.container {
  display: flex;
  flex-wrap: wrap;
}


.board{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}